
ul {
    list-style-type: none;
    padding: 0; 
  }
  ul li {
    margin-bottom: 10px;
  }
  ul li h3 {
    font-size: 18px; 
    font-weight: bold;
    color: #333; 
    margin: 0;
    padding: 0; 
  }
  