
ul {
    list-style-type: none;
    padding: 0; 
  }
  ul li {
    margin-bottom: 10px;
  }
  ul li h3 {
    font-size: 18px; 
    font-weight: bold;
    color: #333; 
    margin: 0;
    padding: 0; 
  }
#input_search {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
}