{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<script src="{% static 'js/afficheContentArticle.js' %}"></script>
    <h1>{{ title_blog }}</h1>
    <h2>{{ label_blog }}</h2>
    
    <div class="form__group field">
        <input type="text" id="searchBar" class="form__field" placeholder="{{ placeholder }}">
    </div>

    <div class="article-container" id="articleList">
        {% for article in articles %}
            <div class="article">
                <div class="title" onclick="toggleContent(this)">
                    <span class="arrow">▶</span>
                    <span><a href="article/{{ article.id }}">{{ article.title }}</a></span>
                </div>
                <div class="content">
                    {{ article.content }}
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/searchArticle.js' %}"></script>
{% endblock %}
