{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1>{{ title_blog }}</h1>
    <h2>{{ label_blog }}</h2>
    <div class="list_article">
        
        <form>
            <input type="text" placeholder="Recherche d'un article..." id="searchBar">
        </form>
        <ul id="articleList">
    {% for article in articles %}
        <li class="article"><a href="article/{{ article.title }}"><h3>{{ article.title }}</h3></a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
