{% extends 'base.html' %}
{% load static %}

{% block title %}Question{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
    <h1>{{ title_question }}</h1>
    <h2>{{ content_question }}</h2>
    
    <div class="chat-container">
        <div class="chat-box" id="chatBox">
            
        </div>
        <div class="question-box">
            {% for question in questions %}
                <button onclick="askQuestion('{{ question.id }}')">{{ question.question }}</button>
            {% endfor %}
        </div>
    </div>

    <div id="responses" style="display: none;">
        {% for question in questions %}
            <div id="response-{{ question.id }}">{{ question.response }}</div>
        {% endfor %}
    </div>

<script src="{% static 'js/chatResponse.js' %}"></script>
{% endblock %}
